body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
    
    
}
p{
    color:dimgray;
}
.orang-highlight{
    color:orange;
}
.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%; //*padding percent changed from 5% to 2% by anonymous913*//
}
.half-width img{
    width:100%;
}
.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 120px;
    overflow: hidden;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon,orange);
    display:inline;
    padding:10px 20px;
    border-radius: 10px;

}
.link-button a{
    color:white;
    font-weight: bold;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow:10px 10px 40px gray; 
    border-radius:5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    display:inline-block;   //*inline-block changed from inline table by anonymous913*//
}

footer p{
    text-align: center;
    background-color: gray;
    color:white;
}

//*id added on stylesheet by anonymous913 *//

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradiant(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradiant(180deg, blue, cyan);
    border-image-slice: 1;   
}
